<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoIAMaKqdULTHXKM0UsH3nsYxtmhuc3D8</string>
	<key>GCM_SENDER_ID</key>
	<string>950897101349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kigaliCityServices</string>
	<key>PROJECT_ID</key>
	<string>kigali-inventory</string>
	<key>STORAGE_BUCKET</key>
	<string>kigali-inventory.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950897101349:ios:2a1832e2f659d604ab4dcc</string>
</dict>
</plist>